---
// Component Imports
import Master from '../design/Master.astro';
import Section from '../design/partials/Section.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Master title="Commergent UI | @Next">
<Section classMap="h-100vh grid place-items-center gradient--gray">
  <Section container="container" classMap="text-center my-5">
      <h1 class="hr2 weight-superbold">Commergent UI <span class="color-brand">@NEXT</span></h1>
  </Section>
  <Section container="container--narrow" classMap="my-5">
      <p class="font-xl">This project was built to show off the newest technology available in all modern browsers and to provide a visual guide to future-proof implementations of E-Commerce visual elements and micro-interactions. All these examples strive to maximizing Google <a href="https://web.dev/patterns/web-vitals-patterns/" target="_blank">Core Web Vitals</a> metrics and <a href="https://web.dev/lighthouse-performance/#metrics" target="_blank">Lighthouse</a> scores.</p>
      <div class="flex-wrap child-mr-2 mt-4">
        <button type="button" class="btn-fill--brand">Build your web identity</button>
        <a href="development" class="btn btn-border--dark border-2">Developer documentation</a>
      </div>
  </Section>
</Section>




</Master>


<!--
    - You can also use imported framework components directly in your markup!
    -
    - Note: by default, these components are NOT interactive on the client.
    - The `:visible` directive tells Astro to make it interactive.
    -
    - See https://docs.astro.build/core-concepts/component-hydration/ 
    -->

