---
// Component Imports
import Master from '../design/Master.astro';
import Section from '../design/partials/Section.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Master title="Commergent UI | @Next">
<Section container="container" classMap="text-center my-5">
    <h1 class="hr2 weight-bold">Commergent UI <span class="color-brand">@NEXT</span></h1>
</Section>
<Section container="container--narrow" classMap="my-5 font-lg">
    <p>This project was built to show off the newest technology available in all browsers and to provide a visual guide to future-proof implementations of E-Commerce visual elements. All these examples strive to maximizing Google <a href="https://web.dev/patterns/web-vitals-patterns/">Core Web Vitals</a> metrics and <a href="https://web.dev/lighthouse-performance/#metrics">Lighthouse</a> scores.</p>
</Section>
<Section container="container" classMap="mb-2 mt-5 text-center">
    <h2 class="hr2 weight-bold mt-5 mb-3">The Carousel</h2>
</Section>
<Section classMap="mb-5">    
    <div class="native-carousel">
        <div class="track">
            <div class="item"><img src="https://picsum.photos/id/1011/400/400" alt=""></div>
            <div class="item"><img src="https://picsum.photos/id/1012/400/400" alt=""></div>
            <div class="item"><img src="https://picsum.photos/id/1013/400/400" alt=""></div>
            <div class="item"><img src="https://picsum.photos/id/1014/400/400" alt=""></div>
            <div class="item"><img src="https://picsum.photos/id/1015/400/400" alt=""></div>
            <div class="item"><img src="https://picsum.photos/id/1016/400/400" alt=""></div>
            <div class="item"><img src="https://picsum.photos/id/1018/400/400" alt=""></div>
        </div>
        <button class="prev btn-fill--dark" style="display: none;">&#8592;</button>
        <button class="next btn-fill--dark">&#8594;</button>
    </div>
</Section>

</Master>


<!--
    - You can also use imported framework components directly in your markup!
    -
    - Note: by default, these components are NOT interactive on the client.
    - The `:visible` directive tells Astro to make it interactive.
    -
    - See https://docs.astro.build/core-concepts/component-hydration/ 
    -->

